# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Editor folders
.vscode/
.idea/
*.swp

# macOS system files
.DS_Store

# Optional lock files
package-lock.json
yarn.lock

# Cache files
.cache/
.next/
out/
