@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-base {
  @apply border rounded-lg px-3 py-2 text-gray-800 bg-white
         placeholder-gray-400
         focus:outline-none focus:ring-2 focus:ring-orange-400;
}

.textarea-base {
  @apply border rounded-lg px-3 py-2 text-gray-800 bg-white
         placeholder-gray-400
         min-h-22.5
         focus:outline-none focus:ring-2 focus:ring-orange-400;
}

.btn-primary {
  @apply bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded;
}
.btn-success {
  @apply bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded;
}
.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded;
}
.btn-info {
  @apply bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded;
}
.btn-danger {
  @apply bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded;
}
